on:
  push:
    branches:
      - "main"

name: Deploy to Amazon ECS

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Fill secrets
      run: |
        sed -i \
          -e "s|SECRET_DB_HOST|${{ secrets.DB_HOST }}|g" \
          -e "s|SECRET_DB_USERNAME|${{ secrets.DB_USERNAME }}|g" \
          -e "s|SECRET_DB_PASSWORD|${{ secrets.DB_PASSWORD }}|g" \
          -e "s|SECRET_DB_NAME|${{ secrets.DB_NAME }}|g" \
          task-definition.json

    - name: Fill in the new image ID in the Amazon ECS task definition
      id: task-def
      uses: aws-actions/amazon-ecs-render-task-definition@v1
      with:
        task-definition: task-definition.json
        container-name: devops-application
        image: jasoncarneiro/devops-app:latest

    - name: Deploy Amazon ECS task definition
      uses: aws-actions/amazon-ecs-deploy-task-definition@v1
      with:
        task-definition: task-definition.json
        service: devops-infra-ecs-service
        cluster: devops-infra-cluster
        wait-for-service-stability: true
